{%extends 'all-gallery/base.html'%} {% block content %}
<div class="container">

  <div class="row">
    <h2>Found {{gallery.count}} related Images</h2>
  </div>

  <div class="container">{% for gallery_item in gallery %}
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <a class="lightbox" href="#pic">
        <img src="{{gallery_item.image.url}} " class="img-responsive " alt="Image "></a> {% for tag in gallery_item.tags.all %}
      <button type="button " name="button "><small>{{tag.name}}</small></button> {% endfor %}
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4">
        <div class="lightbox-target" id="pic">
          <img src="{{gallery_item.image.url}} " class="img-responsive " alt="Image ">
          <a class="lightbox-close" href="#"></a>
        </div>
      </div>
    </div>{% endfor%}
  </div>
</div>
{% endblock %}
