{% extends 'all-gallery/base.html' %} {% load static %} {% block styles %} {{block.super}}
<link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet"> {% endblock %}

<!-- Content block -->
{% block content %} {{block.super}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="tags">{{tag.name}}</h1>
    </div>
  </div>

  <div class="row">

    {% for gallery_item in gallery %}

    <div class="col-md-4 col-lg-4">
      <a href="{% url 'gallery' gallery_item.id %}">
        <img src="{{gallery_item.image.url}}" alt="Image" class="img-responsive home-image" id="myImg">
      </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}