body, html {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  color: #000;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #000;
}

#navigate {
  background-color: #fff;
  border: #fff;
}

#navigation {
  padding-right: 4px;
  padding-left: 538px;
  text-align: center;
}

#navigation:hover {
  color: #000;
  cursor: pointer;
}

#camera {
  font-size: 25px;
  color: #000;
}

#join {
  color: #fff;
  padding: 8px;
  margin: 10px;
}

#submit {
  position: relative;
  float: left;
}

#search {
  width: 1100px;
  height: 40px;
  padding: 0 30px 2px 42px;
  font-size: 14px;
  color: #111;
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  transition: all .2s ease-in-out;
  -webkit-appearance: none;
}

#image {
  padding: 15px;
}

/* photos */

.photo-div {
  position: relative;
  margin-top: 1%;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}

.photo-div img {
  width: 100%;
  margin: 12px 0px;
}

@media (max-width: 500px) {
  .photo-div {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }
}

/* end of photos */

/*trending*/

#dot {
  margin-top: -28px;
  margin-left: -899px;
  font-size: 42px;
  color: #f15151;
}

#display {
  display: inline;
  margin-bottom: 0px;
}

#large {
  display: inline;
  cursor: pointer;
  position: relative;
  top: -48px;
  left: 805px;
  font-size: 20px;
  margin-left: 100px;
  border-radius: 0px;
  color: #111;
  vertical-align: middle;
  fill: #999;
  outline: none;
  border-style: none;
}

#pause {
  display: inline;
  cursor: pointer;
  position: relative;
  top: -40px;
  left: 750px;
  font-size: 27px;
  margin-right: 26px;
  border-radius: 0px;
  color: #999;
  border-style: none;
  transform: rotate(180deg);
}

#trending {
  display: inline;
  font-size: 18px;
  color: #111;
  cursor: pointer;
  margin-left: -999px;
}

#new {
  display: inline;
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}

#new:hover {
  color: #111;
  cursor: pointer;
}

/*zooming inage*/

.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.zoomin img:hover {
  width: 300px;
  height: 300px;
}

/*tags*/

#tagss {
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 0px;
}

#tag {
  border-radius: 5px;
  height: 50px;
  width: 115px;
  margin-right: 10px;
  background-color: grey;
}

#tag:hover {
  cursor: pointer;
}

#tagname {
  position: absolute;
  margin-top: 15px;
  margin-left: 14px;
  color: #fff;
  font-size: 16px;
}

#cover {
  border-radius: 5px;
  margin-left: -15px;
  height: 50px;
  width: 115px;
}

#cover:hover {
  opacity: 0.80;
}

.grey {
  margin-top: 5px;
  color: grey;
  font-size: 14px;
}

.grey:hover {
  color: black;
}

#glyphicon {
  margin-top: 14px;
  width: 70px;
  margin-left: 8px;
  background-color: transparent;
  border-style: none;
  border-color: transparent;
}

.glyphicon-option-horizontal {
  font-size: 20px;
}

/*single photo*/

.avatar {
  text-align: left;
  width: 53px;
}

.download {
  text-align: right;
  margin-top: -57px;
}
