{%extends 'all-gallery/base.html'%} {% block content %}
<div class="container">

  <div class="row">
    {% if photos%}
    <h2>Found {{ photos|length }} of searched term {{message}}</h2> {% else %}
    <h2> Found 0 Photos for the search term {{message}}</h2> {% endif %}

  </div>

  <div class="row">

    {% if photos %} {% for gallery in photos %}
    <div class="col-sm-6 col-md-3">
      <h1> <a href="{% url 'gallery' gallery.id %}">{{gallery.location}}</a></h1>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
