<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/gallery.css">
  </head>

  <body>
    <div class="navbar navbar-inverse" role="navigation" id="navigate">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'newPhotos' %}"><i class="glyphicon glyphicon-camera" id="camera"></i></a>
        </div>
        <!-- Adding a search form -->
        <div class="col-sm-4 col-md-4 navbar">
          <form action="{% url 'search_results' %}" class="navbar-form">
            <div class="input-group">
              <!-- <button class="btn btn-default" type="submit" id="submit"><i class="glyphicon glyphicon-search"></i> -->
              <input type="text" autocorrect="off" id="search" name="tag" id="searchKeyword" data-test="search-input-input" placeholder="Search free high-resolution photos" tabindex="1" value="">
              <!-- </button> -->
            </div>
          </form>
        </div>
        <!-- search form end -->
        <div class="navbar-collapse collapse-right">
          <ul class="nav navbar-nav" id="navigation" style="color: black;">
            <li><a href="{% url 'newPhotos' %}">Home</a></li>
            <li><a href="{% url 'collections' %}">Collections</a></li>
            <li><a href="/">Explore</a></li>
            <li><a href="/">About</a></li>
            <li><button class="btn" id="glyphicon"><i class="glyphicon glyphicon-option-horizontal"></i></button></li>
            <li><a href="/">Login</a></li>
            <li><button type="button" class="btn btn-success" id="join">Join free</button></li>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>